*.pyc
*.log
*.log.old
/aes_converter/exports_converted
/aes_converter/exports_to_convert
/aes_converter/exports_converted21
/aes_converter/exports_to_convert21
/aes_converter/players_converted
/aes_converter/players_to_convert
/aes_converter/example_pes21
/io
/.idea
.claude/
.idea/
CLAUDE.md